<ion-header class="ion-no-border">
  <app-header-top [logo]="'assets/img/logo-principal.svg'"></app-header-top>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h4 style="margin-left: 5px" class="title-700">Eventos mais próximos</h4>
      </ion-col>
    </ion-row>
    <ion-row>
     <ion-col style="margin-top: -1.5em; margin-left: -1em;" size="12">
      <ion-item lines="none">
        <ion-button fill="clear">
          <ion-icon slot="start" name="location"></ion-icon>
          <span class="color-black">Bujaru PA, PA - 68670-000</span>
        </ion-button>
      </ion-item>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
