<app-custom-header></app-custom-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <h1 class="bold txt-title">Cadastrar empresa</h1>
      </ion-col>
    </ion-row>
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <ion-row>
          <ion-col size="12">
            <ion-item fill="outline">
              <ion-label position="floating">CNPJ</ion-label>
              <ion-input type="tel" formControlName="cnpj" [brmasker]="{mask:'00.000.000/0000-00', len:18}"></ion-input>
              <ion-icon name="business-outline" slot="end"></ion-icon>
            </ion-item>
          </ion-col>
      </ion-row>

      <ion-row style="margin-top: 16px">
        <ion-col size="12">
          <ion-button type="submit" [disabled]="!form.valid" class="btn-size" expand="block">
            Próximo
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
