<ion-content class="background" fullscreen="true">
  <ion-grid fixed class="ion-padding">
    <ion-row class="fix-bottom">
      <ion-col size="12">
        <ion-button (click)="onClick('vitrine')" expand="block">
          Modo vitrine
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -10px">
      <ion-col size="12">
        <ion-button color="dark" (click)="onClick('anunciante')" expand="block">
          Modo anunciante
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
